@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #141414;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

.section {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background: #000;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-link {
  padding: 20px;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  padding: 6px 0;
}

.hi {
  border-radius: 6px;
  background: #141414;
  padding: 8px 20px;
}

.text {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
h1 {
  font-weight: 400;
  max-width: 500px;
  padding-bottom: 60px;
}

.hero-img {
  width: 100%;
}

.secondary-heading {
  padding-bottom: 15px;
  font-size: 28px;
  max-width: 500px;
}

p.fade {
  color: rgba(255, 255, 255, 0.6);
  max-width: 500px;
}

.project {
  height: 400px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  background: #fc3439;
}
.project-2 {
  background: #7d20a6;
}
.project-3 {
  background: #0c1eb9;
}
.project h3 {
  padding: 15px 0;
  font-weight: 400;
  font-size: 20px;
}
.details {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.project img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

p.lead {
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.7);
}

p.project-info {
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.project-link {
  margin-top: auto;
  color: #fff;
  text-decoration: none;
}
